:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f4f0e8;
  width: 100%;
  min-width: 100dvw;
  min-width: 100vw;
  max-width: 100dvw;
  max-width: 100vw;
  min-height: 100dvh;
  min-height: 100vh;
}
html {
  max-width: 100vw;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  scroll-margin-top: 82px;
  scrollbar-gutter: stable;
  overflow-x: hidden !important;
  overflow-y: scroll;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  /* max-width: 100%; */
  max-width: inherit;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
